---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1 style="font-family: 'Orbitron', sans-serif;opacity: 0.75;">{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">

    <!-- topsection-text -->
    <div class="section-top">
      <h2 class="heading h3">All Posts</h2>
    </div>

    <div class="row mb-3">






      

      <!-- Home Post List -->
      {% for post in site.posts limit : 100 %}







      <div class="col-md-4 card-blog">
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
          <div class="card">
            <img src="{{ post.background | prepend: site.baseurl | replace: '//', '/' }}" class="card-img-top"
              alt="Card image" style="height: 250px; object-fit: cover; border-radius: 4px;">
              
            <div class="card-body">
              <p class="post-meta">

                {{ post.date | date: '%B %d, %Y' }} • {% include read_time.html content=post.content %}
              </p>
              <h5 class="card-title">{{ post.title }}</h5>
              <div class="card-text">{{ post.excerpt | strip_html | truncatewords: 18 }}</div>


            </div>
          </div>
        </a>
      </div>








      <!-- card layout -->




      {% endfor %}

      <!-- Pager -->




    </div>
    <div class="clearfix" style="display: none;">
      <a class="btn btn-primary float-right" href="{{" /posts" | relative_url }}">View All Posts &rarr;</a>
    </div>
  </div>
